[submodule "lazycat-theme"]
path = site-lisp/extensions/lazycat-theme
url = https://github.com/manateelazycat/lazycat-theme.git

[submodule "typescript"]
path = site-lisp/extensions/languages/typescript
url = https://github.com/ananthakumaran/typescript.el.git

[submodule "watch-other-window"]
path = site-lisp/extensions/watch-other-window
url = https://github.com/manateelazycat/watch-other-window.git

[submodule "web-mode"]
path = site-lisp/extensions/languages/web-mode
url = https://github.com/fxbois/web-mode

[submodule "cache-path-from-shell"]
path = site-lisp/extensions/cache-path-from-shell
url = https://github.com/manateelazycat/cache-path-from-shell.git

[submodule "emacs-rails"]
path = site-lisp/extensions/emacs-rails
url = https://github.com/manateelazycat/emacs-rails.git

[submodule "insert-translated-name"]
path = site-lisp/extensions/insert-translated-name
url = https://github.com/manateelazycat/insert-translated-name.git

[submodule "vi-navigate"]
path = site-lisp/extensions/vi-navigate
url = https://github.com/manateelazycat/vi-navigate.git

[submodule "flex"]
path = site-lisp/extensions/flex
url = https://github.com/manateelazycat/flex.git

[submodule "bison"]
path = site-lisp/extensions/bison
url = https://github.com/manateelazycat/bison.git

[submodule "awesome-tray"]
path = site-lisp/extensions/awesome-tray
url = https://github.com/manateelazycat/awesome-tray.git

[submodule "json-reformat"]
path = site-lisp/extensions/json-reformat
url = https://github.com/gongo/json-reformat.git

[submodule "restclient.el"]
path = site-lisp/extensions/restclient.el
url = https://github.com/pashky/restclient.el.git

[submodule "swift-mode"]
path = site-lisp/extensions/languages/swift-mode
url = http://github.com/swift-emacs/swift-mode

[submodule "css-sort"]
path = site-lisp/extensions/css-sort
url = https://github.com/manateelazycat/css-sort.git

[submodule "color-rg"]
path = site-lisp/extensions/color-rg
url = https://github.com/manateelazycat/color-rg.git

[submodule "rjsx-mode"]
path = site-lisp/extensions/languages/rjsx-mode
url = https://github.com/felipeochoa/rjsx-mode.git

[submodule "auto-save"]
path = site-lisp/extensions/auto-save
url = https://github.com/manateelazycat/auto-save.git

[submodule "thing-edit"]
path = site-lisp/extensions/thing-edit
url = https://github.com/manateelazycat/thing-edit.git

[submodule "goto-line-preview"]
path = site-lisp/extensions/goto-line-preview
url = https://github.com/jcs090218/goto-line-preview.git

[submodule "duplicate-line"]
path = site-lisp/extensions/duplicate-line
url = https://github.com/manateelazycat/duplicate-line.git

[submodule "move-text"]
path = site-lisp/extensions/move-text
url = https://github.com/manateelazycat/move-text.git

[submodule "open-newline"]
path = site-lisp/extensions/open-newline
url = https://github.com/manateelazycat/open-newline.git

[submodule "aweshell"]
path = site-lisp/extensions/aweshell
url = https://github.com/manateelazycat/aweshell.git

[submodule "lazy-load"]
path = site-lisp/extensions/lazy-load
url = https://github.com/manateelazycat/lazy-load.git

[submodule "site-lisp/extensions/transient"]
path = site-lisp/extensions/transient
url = https://github.com/magit/transient.git

[submodule "symbol-overlay"]
path = site-lisp/extensions/symbol-overlay
url = https://github.com/wolray/symbol-overlay.git

[submodule "delete-block"]
path = site-lisp/extensions/delete-block
url = https://github.com/manateelazycat/delete-block.git

[submodule "smart-align"]
path = site-lisp/extensions/smart-align
url = https://github.com/manateelazycat/smart-align.git

[submodule "instant-rename-tag"]
path = site-lisp/extensions/instant-rename-tag
url = https://github.com/manateelazycat/instant-rename-tag.git

[submodule "olivetti"]
path = site-lisp/extensions/olivetti
url = https://github.com/rnkn/olivetti.git

[submodule "posframe"]
path = site-lisp/extensions/posframe
url = https://github.com/tumashu/posframe.git

[submodule "projectile"]
path = site-lisp/extensions/projectile
url = https://github.com/bbatsov/projectile.git

[submodule "site-lisp/extensions/benchmark-init"]
path = site-lisp/extensions/benchmark-init
url = https://github.com/dholm/benchmark-init-el

[submodule "emacs-rime"]
path = site-lisp/extensions/emacs-rime
url = https://github.com/DogLooksGood/emacs-rime.git

[submodule "site-lisp/extensions/nim-mode"]
path = site-lisp/extensions/languages/nim-mode
url = https://github.com/nim-lang/nim-mode.git

[submodule "site-lisp/extensions/dash"]
path = site-lisp/extensions/dash
url = https://github.com/magnars/dash.el.git

[submodule "site-lisp/extensions/one-key"]
path = site-lisp/extensions/one-key
url = https://github.com/manateelazycat/one-key

[submodule "site-lisp/extensions/isearch-mb"]
path = site-lisp/extensions/isearch-mb
url = https://github.com/astoff/isearch-mb.git

[submodule "site-lisp/extensions/emacs-application-framework"]
path = site-lisp/extensions/emacs-application-framework
url = https://github.com/emacs-eaf/emacs-application-framework

[submodule "site-lisp/extensions/sort-tab"]
path = site-lisp/extensions/sort-tab
url = https://github.com/manateelazycat/sort-tab.git

[submodule "site-lisp/extensions/toggle-one-window"]
path = site-lisp/extensions/toggle-one-window
url = https://github.com/manateelazycat/toggle-one-window.git

[submodule "site-lisp/extensions/popweb"]
path = site-lisp/extensions/popweb
url = https://github.com/manateelazycat/popweb.git

[submodule "site-lisp/extensions/find-orphan"]
path = site-lisp/extensions/find-orphan
url = https://github.com/manateelazycat/find-orphan

[submodule "site-lisp/extensions/xterm-color"]
path = site-lisp/extensions/xterm-color
url = https://github.com/atomontage/xterm-color.git

[submodule "site-lisp/extensions/recursive-search-references"]
path = site-lisp/extensions/recursive-search-references
url = https://github.com/manateelazycat/recursive-search-references

[submodule "site-lisp/extensions/highlight-matching-tag"]
path = site-lisp/extensions/highlight-matching-tag
url = https://github.com/manateelazycat/highlight-matching-tag

[submodule "site-lisp/extensions/lspbridge"]
path = site-lisp/extensions/lspbridge
url = https://github.com/manateelazycat/lsp-bridge

[submodule "site-lisp/extensions/markdown-mode"]
path = site-lisp/extensions/languages/markdown-mode
url = https://github.com/jrblevin/markdown-mode

[submodule "site-lisp/extensions/interaction-log"]
path = site-lisp/extensions/interaction-log
url = https://github.com/michael-heerdegen/interaction-log.el

[submodule "site-lisp/extensions/elixir-mode"]
path = site-lisp/extensions/languages/elixir-mode
url = https://github.com/elixir-editors/emacs-elixir.git

[submodule "site-lisp/extensions/json-mode"]
path = site-lisp/extensions/languages/json-mode
url = https://github.com/joshwnj/json-mode

[submodule "site-lisp/extensions/json-snatcher"]
path = site-lisp/extensions/json-snatcher
url = https://github.com/Sterlingg/json-snatcher

[submodule "site-lisp/extensions/php-mode"]
path = site-lisp/extensions/languages/php-mode
url = https://github.com/emacs-php/php-mode

[submodule "site-lisp/extensions/clojure-mode"]
path = site-lisp/extensions/languages/clojure-mode
url = https://github.com/clojure-emacs/clojure-mode

[submodule "site-lisp/extensions/rust-mode"]
path = site-lisp/extensions/languages/rust-mode
url = https://github.com/rust-lang/rust-mode

[submodule "site-lisp/extensions/emacs-websocket"]
path = site-lisp/extensions/emacs-websocket
url = https://github.com/ahyatt/emacs-websocket

[submodule "site-lisp/extensions/deno-bridge"]
path = site-lisp/extensions/deno-bridge
url = https://github.com/manateelazycat/deno-bridge

[submodule "site-lisp/extensions/yasnippet"]
path = site-lisp/extensions/yasnippet
url = https://github.com/joaotavora/yasnippet

[submodule "site-lisp/extensions/dart-mode"]
path = site-lisp/extensions/languages/dart-mode
url = https://github.com/bradyt/dart-mode

[submodule "site-lisp/extensions/deno-bridge-jieba"]
path = site-lisp/extensions/deno-bridge-jieba
url = https://github.com/ginqi7/deno-bridge-jieba

[submodule "site-lisp/extensions/blink-search"]
path = site-lisp/extensions/blink-search
url = https://github.com/manateelazycat/blink-search

[submodule "site-lisp/extensions/visual-regexp"]
path = site-lisp/extensions/visual-regexp
url = https://github.com/benma/visual-regexp.el

[submodule "site-lisp/extensions/smex"]
path = site-lisp/extensions/smex
url = https://github.com/nonsequitur/smex

[submodule "site-lisp/extensions/dictionary-overlay"]
path = site-lisp/extensions/dictionary-overlay
url = https://github.com/ginqi7/dictionary-overlay

[submodule "site-lisp/extensions/websocket-bridge"]
path = site-lisp/extensions/websocket-bridge
url = https://github.com/ginqi7/websocket-bridge

[submodule "site-lisp/extensions/lua-mode"]
path = site-lisp/extensions/languages/lua-mode
url = https://github.com/immerrr/lua-mode

[submodule "site-lisp/extensions/markmacro"]
path = site-lisp/extensions/markmacro
url = https://github.com/manateelazycat/markmacro.git

[submodule "site-lisp/extensions/ws-butler"]
path = site-lisp/extensions/ws-butler
url = https://github.com/lewang/ws-butler.git

[submodule "site-lisp/extensions/fingertip"]
path = site-lisp/extensions/fingertip
url = https://github.com/manateelazycat/fingertip

[submodule "site-lisp/extensions/wraplish"]
path = site-lisp/extensions/wraplish
url = https://github.com/manateelazycat/wraplish.git

[submodule "site-lisp/extensions/vundo"]
path = site-lisp/extensions/vundo
url = https://github.com/casouri/vundo.git

[submodule "site-lisp/extensions/popper"]
path = site-lisp/extensions/popper
url = https://github.com/karthink/popper.git

[submodule "site-lisp/extensions/zig-mode"]
path = site-lisp/extensions/languages/zig-mode
url = https://github.com/ziglang/zig-mode

[submodule "site-lisp/extensions/reformatter"]
path = site-lisp/extensions/reformatter
url = https://github.com/purcell/emacs-reformatter

[submodule "site-lisp/extensions/valign"]
path = site-lisp/extensions/valign
url = https://github.com/casouri/valign.git

[submodule "site-lisp/extensions/key-echo"]
path = site-lisp/extensions/key-echo
url = https://github.com/manateelazycat/key-echo.git

[submodule "site-lisp/extensions/holo-layer"]
path = site-lisp/extensions/holo-layer
url = https://github.com/manateelazycat/holo-layer.git

[submodule "site-lisp/extensions/kotlin-mode"]
path = site-lisp/extensions/languages/kotlin-mode
url = https://github.com/Emacs-Kotlin-Mode-Maintainers/kotlin-mode.git

[submodule "site-lisp/extensions/trekker"]
path = site-lisp/extensions/trekker
url = https://github.com/manateelazycat/trekker.git

[submodule "site-lisp/extensions/mojo-hl"]
path = site-lisp/extensions/languages/mojo-hl
url = https://github.com/andcarnivorous/mojo-hl

[submodule "site-lisp/extensions/languages/haskell-mode"]
path = site-lisp/extensions/languages/haskell-mode
url = https://github.com/haskell/haskell-mode.git

[submodule "site-lisp/extensions/languages/coffee-mode"]
path = site-lisp/extensions/languages/coffee-mode
url = https://github.com/defunkt/coffee-mode.git

[submodule "site-lisp/extensions/languages/llvm-mode"]
path = site-lisp/extensions/languages/llvm-mode
url = https://github.com/nverno/llvm-mode.git

[submodule "site-lisp/extensions/languages/vala-mode"]
path = site-lisp/extensions/languages/vala-mode
url = https://github.com/rrthomas/vala-mode.git

[submodule "site-lisp/extensions/languages/qmake-mode"]
path = site-lisp/extensions/languages/qmake-mode
url = https://github.com/jobor/qmake-mode.git

[submodule "site-lisp/extensions/languages/tuareg"]
path = site-lisp/extensions/languages/tuareg
url = https://github.com/ocaml/tuareg.git

[submodule "site-lisp/extensions/languages/go-mode"]
path = site-lisp/extensions/languages/go-mode
url = https://github.com/dominikh/go-mode.el.git

[submodule "site-lisp/extensions/languages/fsharp-mode"]
path = site-lisp/extensions/languages/fsharp-mode
url = https://github.com/fsharp/emacs-fsharp-mode.git

[submodule "site-lisp/extensions/languages/sly"]
path = site-lisp/extensions/languages/sly
url = https://github.com/joaotavora/sly.git

[submodule "site-lisp/extensions/languages/cider"]
path = site-lisp/extensions/languages/cider
url = https://github.com/clojure-emacs/cider

[submodule "site-lisp/extensions/languages/parseedn"]
path = site-lisp/extensions/languages/parseedn
url = https://github.com/clojure-emacs/parseedn

[submodule "site-lisp/extensions/languages/parseclj"]
path = site-lisp/extensions/languages/parseclj
url = https://github.com/clojure-emacs/parseclj

[submodule "site-lisp/extensions/languages/queue"]
path = site-lisp/extensions/languages/queue
url = https://github.com/emacs-straight/queue

[submodule "site-lisp/extensions/sesman"]
path = site-lisp/extensions/sesman
url = https://github.com/vspinu/sesman

[submodule "site-lisp/extensions/languages/clojure-ts-mode"]
path = site-lisp/extensions/languages/clojure-ts-mode
url = https://github.com/clojure-emacs/clojure-ts-mode

[submodule "site-lisp/extensions/cloel"]
path = site-lisp/extensions/cloel
url = https://github.com/manateelazycat/cloel

[submodule "site-lisp/extensions/cloel-extensions/reorder-file"]
path = site-lisp/extensions/cloel-extensions/reorder-file
url = https://github.com/manateelazycat/reorder-file

[submodule "site-lisp/extensions/gptel"]
	path = site-lisp/extensions/gptel
	url = https://github.com/karthink/gptel
[submodule "site-lisp/extensions/elysium"]
	path = site-lisp/extensions/elysium
	url = https://github.com/lanceberge/elysium
[submodule "site-lisp/extensions/diff-hl"]
	path = site-lisp/extensions/diff-hl
	url = https://github.com/dgutov/diff-hl
[submodule "site-lisp/extensions/languages/markdown-ts-mode"]
	path = site-lisp/extensions/languages/markdown-ts-mode
	url = https://github.com/LionyxML/markdown-ts-mode
[submodule "site-lisp/extensions/aider"]
	path = site-lisp/extensions/aider
	url = https://github.com/tninja/aider.el.git
[submodule "site-lisp/extensions/languages/nix-mode"]
	path = site-lisp/extensions/languages/nix-mode
	url = https://github.com/NixOS/nix-mode.git
[submodule "site-lisp/extensions/image-slicing"]
	path = site-lisp/extensions/image-slicing
	url = https://github.com/ginqi7/image-slicing.git
[submodule "site-lisp/extensions/f"]
	path = site-lisp/extensions/f
	url = https://github.com/rejeep/f.el.git
