[submodule "color-rg"]
	path = site-lisp/extensions/color-rg
	url = https://github.com/manateelazycat/color-rg.git
[submodule "lazycat-theme"]
	path = site-lisp/extensions/lazycat-theme
	url = https://github.com/manateelazycat/lazycat-theme.git
[submodule "js2-refactor"]
	path = site-lisp/extensions/js2-refactor
	url = https://github.com/magnars/js2-refactor.el.git
[submodule "sdcv"]
	path = site-lisp/extensions/sdcv
	url = https://github.com/manateelazycat/sdcv.git
[submodule "aweshell"]
	path = site-lisp/extensions/aweshell
	url = https://github.com/manateelazycat/aweshell.git
[submodule "company-english-helper"]
	path = site-lisp/extensions/company-english-helper
	url = https://github.com/manateelazycat/company-english-helper.git
[submodule "emacs-application-framework"]
	path = site-lisp/extensions/emacs-application-framework
	url = https://github.com/manateelazycat/emacs-application-framework.git
[submodule "lsp-mode"]
	path = site-lisp/extensions/lsp-mode
	url = https://github.com/emacs-lsp/lsp-mode.git
[submodule "lsp-python"]
	path = site-lisp/extensions/lsp-python
	url = https://github.com/emacs-lsp/lsp-python.git
[submodule "company-lsp"]
	path = site-lisp/extensions/company-lsp
	url = https://github.com/tigersoldier/company-lsp.git
[submodule "lsp-ruby"]
	path = site-lisp/extensions/lsp-ruby
	url = https://github.com/emacs-lsp/lsp-ruby.git
[submodule "lsp-css"]
	path = site-lisp/extensions/lsp-css
	url = https://github.com/emacs-lsp/lsp-css.git
[submodule "lsp-html"]
	path = site-lisp/extensions/lsp-html
	url = https://github.com/emacs-lsp/lsp-html.git
[submodule "lsp-javascript"]
	path = site-lisp/extensions/lsp-javascript
	url = https://github.com/emacs-lsp/lsp-javascript.git
[submodule "typescript"]
	path = site-lisp/extensions/typescript
	url = https://github.com/ananthakumaran/typescript.el.git
[submodule "eglot"]
	path = site-lisp/extensions/eglot
	url = https://github.com/joaotavora/eglot.git
