[submodule "site-lisp/extensions/emacs-application-framework"]
	path = site-lisp/extensions/emacs-application-framework
	url = https://github.com/manateelazycat/emacs-application-framework.git
[submodule "site-lisp/extensions/aweshell"]
	path = site-lisp/extensions/aweshell
	url = https://github.com/manateelazycat/aweshell.git
